<!-- Start BooksComponent -->

<!-- Start NewBookComponent -->
<ibs-new-book (bookFormValue)="onAddBook($event)"></ibs-new-book>
<!-- End NewBookComponent -->

<div class="container--wrap--m">
  <div class="card g--4 g-s--12">

    <!-- Start ShelveComponent -->
    <ibs-shelf [books]="books | async"
               (selectBook)="onSelectBook($event)"></ibs-shelf>
    <!-- End ShelveComponent -->

  </div>

  <div class="card g--8 g-s--12">

    <!-- Start BookComponent -->
    <ibs-book [book] = "selectedBook"
              *ngIf="selectedBook; else noBookSelected"
    ></ibs-book>

    <ng-template #noBookSelected>Please select a book</ng-template>
    <!-- End BookComponent -->

  </div>
</div>

<!-- End BooksComponent -->
